<ion-content [fullscreen]="true">
  <div id="container" class="h-full p-4 pb-0 relative flex flex-col justify-between">
    <div>
      <h1 class="text-3xl font-semibold">Doctors</h1>
    </div>

    <div class="flex-grow overflow-y-scroll flex flex-col">
      <div class="p-3 pb-0">
        <input
          type="text"
          placeholder="Search or start a new chat"
          class="w-full p-2 border rounded-lg text-sm"
          [(ngModel)]="searchQuery"
          (input)="filterDoctors()"
        />

        <div class="p-3 pb-0 grid grid-cols-2">
          <div class="text-center flex justify-center">
            <p class="py-1 px-4 rounded-2xl bg-gray-500 w-fit h-fit bg-gray-500/50"
              (click)="filteredDocs('recent')">Recent</p>
          </div>
          <div class="text-center flex justify-center">
            <p class="py-1 px-4 rounded-2xl bg-gray-500 w-fit h-fit bg-gray-500/50"
              (click)="filteredDocs('all')">All</p>
          </div>
        </div>
      </div>

      <div class="divide-y">
        <ng-container *ngFor="let doc of filtered; trackBy: trackById">
          <app-chat [doc]="doc"></app-chat>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
