<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container" class=" h-full p-4 relative">
    <h1 class="text-3xl font-semibold">Home</h1>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>

    <div class="h-[70px] w-[70px] rounded-full bg-blue-600 absolute bottom-5 right-5 animate-bounce flex items-center justify-center">
      <ion-icon name="logo-reddit" class="text-4xl"></ion-icon>
    </div>
  </div>
</ion-content>
